body {
  margin: 0;
  background-color: black;
  /* This is used to reset any browser-default margins */
}

@font-face {
  font-family: avara_base;
  src: url(../font/Avara-Bold_web.otf);
}

@font-face {
  font-family: avara_ital;
  src: url(../font/Avara-Bold_Italic_web.otf);
}

model-viewer {
  position:absolute;
  bottom: 0;
  border: 3px solid; color: red;
  width:89%;
  max-width: 600px;
  height: 70%;
  left:10%;
  background-color: black;
  --progress-bar-color: white;
  --poster-color: black;
  --poster-mask: black;
}

div.menu {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 40vh;
  height: 0vh; /*w/ 0 height, easier play w/ model*/
  border: 3px solid; color: royalblue;
  z-index: 1;
}

div.resume {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 45vh;
  height: 85vh;
  border: 3px solid; color: pink;
}

div.project-menu {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 45vh;
  height: 55vh;
  border: 3px solid;
  color: ghostwhite;
}

div.project {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 45vh;
  height: 115vh;
  border: 3px solid;
  color: royalblue;
}

/* Text classes*/

a.basictext {
  font-family: avara_base;
  list-style-type: none;
  font-size: 15px;
  color: white;
  text-decoration: none;
}

a.basictext_link {
  font-family: avara_base;
  list-style-type: none;
  font-size: 15px;
  color: white;
  text-decoration: none;
}

a.basictext_link:hover {
  text-decoration: underline;
}

a.pinklinks {
  font-family: avara_ital;
  list-style-type: none;
  font-size: 30px;
  color: rgb(255, 93, 228);
  text-decoration: none;
}

a.pinklinks:hover {
  text-decoration: underline;
}

a.pinktitles {
  font-family: avara_ital;
  list-style-type: none;
  font-size: 30px;
  color: rgb(255, 93, 228);
  text-decoration: none;
}

a.back {
  font-family: avara_base;
  list-style-type: none;
  font-size: 15px;
  color: rgb(255, 93, 228);
  text-decoration: none;
}

a.back:hover {
  text-decoration: underline;
}

#br_pad {
  padding: 12%;
}

#br_pad_2 {
  padding: 8%;
}