    body { margin:0; /* This is used to reset any browser-default margins */ }
    
    @font-face {
       font-family: myFirstFont;
       src: url(../font/Avara-Bold_web.otf);
    }

    @font-face {
        font-family: mySecondFont;
        src: url(../font/Avara-Bold_Italic_web.otf);
     }

    
    
    div.bg_color {
        position: relative;
        height:100vh;
        background-color: black;
    } 
    
    div.leo_head {
      position: relative;
      height: 100vh;
    }
    
    model-viewer {
      width: 125%;
      height: 125%;
      background-color:black;
      --progress-bar-color: white;
      --poster-color: black;
      --poster-mask: black;
    }
    
    div.menu {
      position: absolute;
      top: 5%;
      left: 10%;
      width: 38vh;
      height: 50vh;
      /*border: 3px solid; color: royalblue;*/
    }
    
    a.links {
        font-family: mySecondFont;
        list-style-type: none;
          font-size: 30px;
          color: rgb(255, 93, 228);
          text-decoration: none;
        }

        a.links:hover {
            text-decoration: underline;
        } 

    a.presentation {
        font-family: myFirstFont;
        list-style-type: none;
          font-size: 15px;
          color:  white;
          text-decoration: none;
 
    }


        
    
    
    #br_pad {
    padding : 12%;
    }

    #br_pad_2 {
        padding : 8%;
        }
    